/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}


.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* Shared style */
  .text-primary{
    color: #FD6E0A;
  }
.dark-2{
        color:#474747;
  }
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color:#FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color:white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.secendary-bg{
    background-color: #FFF8F3;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* Nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px ;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 585px;
}
.banner-starting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-image{
    width: 580px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top :130px ;
    margin-bottom: 130px;
}
/* about  style*/
.about{
    border-radius: 10px;
    padding: 135px 150px;
    text-align: center;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section start */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06)
}
/* resume section */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description, .experience-subtitle{
    color: #757575;;
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-downbutton{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* footer section */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    /* margin-top: 113px ; */
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.hide{
    display: none;
}
@media screen and (max-width:576px){
    .skills-container, .resume-container,.footer, .about-items{
        flex-direction: column;
    }
    footer{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    width: calc(100% - 40px);
}

}


